<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jkydjk.healthier.clock" >

    <original-package android:name="com.jkydjk.healthier.clock" />

    <!-- 授权信息 -->
    <!-- 自启动程序的声明，当Android系统启动时会发送这个广播，所以自启动程序必需声明 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 允许程序禁用键盘锁 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 可以得到电话的信息。（电话号码，用户识别码，等等） -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问WiFi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序访问有关GSM网络信息(Allows applications to access information about networks) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 粗略定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精细定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 模拟定位 -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许使用PowerManager的WakeLocks保持进程在休眠时从屏幕消失 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher_alarmclock"
        android:label="@string/app_label"
        android:theme="@android:style/Theme.NoTitleBar" >
        <provider
            android:name="AlarmProvider"
            android:authorities="com.jkydjk.healthier.clock" />

        <activity
            android:name="Healthier"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:label="@string/app_label"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ChineseHour" />
        <activity android:name="SolarTerms" />
        <activity android:name="Favorites" />
        <activity
            android:name="AlarmClock"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:label="@string/app_label"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="SetAlarm"
            android:label="@string/set_alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name="AddAlarm"
            android:label="@string/add_alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name="AlarmAlert"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/alarm_alert" />

        <!--
             This activity is basically the same as AlarmAlert but with a more
             generic theme. It also shows as full screen (with status bar) but
             with the wallpaper background.
        -->
        <activity
            android:name="AlarmAlertFullScreen"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity android:name="ClockPicker" />

        <receiver android:name="AlarmReceiver" >
            <intent-filter>
                <action android:name="com.jkydjk.healthier.clock.ALARM_ALERT" />
                <action android:name="alarm_killed" />
                <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>

        <!--
             This service receives the same intent as AlarmReceiver but it does
             not respond to the same broadcast. The AlarmReceiver will receive
             the alert broadcast and will start this service with the same
             intent. The service plays the alarm alert and vibrates the device.
             This allows the alert to continue playing even if another activity
             causes the AlarmAlert activity to pause.
        -->
        <service android:name="AlarmKlaxon" >
            <intent-filter>
                <action android:name="com.jkydjk.healthier.clock.ALARM_ALERT" />
            </intent-filter>
        </service>

        <receiver android:name="AlarmInitReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="AnalogAppWidgetProvider"
            android:icon="@drawable/ic_widget_analog_clock"
            android:label="@string/analog_gadget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_appwidget" />
        </receiver>
    </application>

</manifest>